article{
  border-radius: 5px;
  height: 50px;
  margin-top: 10px;
  width: 150px;
  text-align: center;
}
#uno{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-linear-gradient(rgba(255, 0, 0, 1),rgba(255, 255, 0, 1),blue);
  /* mozilla */
  background: -moz-linear-gradient(rgba(255, 0, 0, 1),rgba(255, 255, 0, 1),blue);
  /* microsoft edge */
  background: -ms-linear-gradient(rgba(255, 0, 0, 1),rgba(255, 255, 0, 1),blue);
  /* safari */
  background: -webkit-linear-gradient(rgba(255, 0, 0, 1),rgba(255, 255, 0, 1),blue);
}
#dos{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-linear-gradient(to left,red,yellow);
  /* mozilla */
  background: -moz-linear-gradient(to left,red,yellow);
  /* microsoft edge */
  background: -ms-linear-gradient(to left,red,yellow);
  /* safari */
  background: -webkit-linear-gradient(to left,red,yellow);
  background: linear-gradient(to left,red,yellow);
}
#tres{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-linear-gradient(to right,red,yellow,blue);
  /* mozilla */
  background: -moz-linear-gradient(to right,red,yellow,blue);
  /* microsoft edge */
  background: -ms-linear-gradient(to right,red,yellow,blue);
  /* safari */
  background: -webkit-linear-gradient(to right,red,yellow,blue);
  background: linear-gradient(to right,red,yellow,blue);
}
#cuatro{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-linear-gradient(to right bottom,red,yellow,blue);
  /* mozilla */
  background: -moz-linear-gradient(to right bottom,red,yellow,blue);
  /* microsoft edge */
  background: -ms-linear-gradient(to right bottom,red,yellow,blue);
  /* safari */
  background: -webkit-linear-gradient(to right bottom,red,yellow,blue);
  background: linear-gradient(to right bottom,red,yellow,blue);
}
#cinco{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-linear-gradient(to left bottom,red,yellow,blue);
  /* mozilla */
  background: -moz-linear-gradient(to left bottom,red,yellow,blue);
  /* microsoft edge */
  background: -ms-linear-gradient(to left bottom,red,yellow,blue);
  /* safari */
  background: -webkit-linear-gradient(to left bottom,red,yellow,blue);
  background: linear-gradient(to left bottom,red,yellow,blue);
}
#seis{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-linear-gradient(70deg,red,yellow,blue);
  /* mozilla */
  background: -moz-linear-gradient(70deg,red,yellow,blue);
  /* microsoft edge */
  background: -ms-linear-gradient(70deg,red,yellow,blue);
  /* safari */
  background: -webkit-linear-gradient(70deg,red,yellow,blue);
  background: linear-gradient(70deg,red,yellow,blue);
}
#siete{
  /* Si no soporta gradientes */
  background: red;
  /* opera */
  background: -o-repeating-linear-gradient(45deg,black,white,blue 20%);
  /* mozilla */
  background: -moz-repeating-linear-gradient(45deg,black,white,blue 20%);
  /* microsoft edge */
  background: -ms-repeating-linear-gradient(45deg,black,white,blue 20%);
  /* safari */
  background: -webkit-repeating-linear-gradient(45deg,black,white,blue 20%);
  background: repeating-linear-gradient(45deg,black,white,black 20%);
}
.texto{
  position: relative;
  top:15px;
}
